<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create an Account</title>
</head>
<body>
<center>
        <h1>Create Account</h1>
        <form action="/createAccount" method="GET">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required><br><br>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required><br><br>
            <input type="submit" value="Create">
        </form>
        <form action="/login">
            <input type="submit" value="Cancel">
        </form>
    </center>
</body>
</html>